@font-face {
    font-family: 'Bit';
    /* Name your font family */
    src: url('./typo/PPNeueBit-Bold.otf');
    /* Locate the .ttf file within your directory*/
}
@font-face {
    font-family: 'Daydream';
    /* Name your font family */
    src: url('./typo/Daydream.ttf');
    /* Locate the .ttf file within your directory*/
}

html {
    font-size: 20px;
    font-family: var(--texto);
}

html, body, #__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}
*{
  cursor: none;
}
* .dark-mode{
  cursor: none;
}

:root {
    --text: #062016;
    --background: #f7fdfb;
    --primary: #3ed9a6;
    --secondary: #9e99f8;
    --accent: #3fe2f7;

    --text-dark: #e1f9f0;
    --background-dark: #05140f;
    --primary-dark: #26c08c;
    --secondary-dark: #6e3bfc;
    --accent-dark: #08aabf;


  
    --primary-gradient-start: #9d8ee5;
    --primary-gradient-end: #663dd6;
  }
  
  /* Variables de tipografía */
  :root {
    --fs-h2: 1.5rem; /* 24px / 16px */
    --fs-h1: 1.5rem;   /* 32px / 16px */
  
    --fw-bold: 700;  /* El valor original `00` estaba incorrecto */
    --fw-light: 400; 
    --title: 'Daydream';
    --texto: 'Bit'; 
}
  body {
    background-color: var(--background) ;
    color: var(--text);
  }
  .dark-mode body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
  /* Acordeon */
  .acordeon>div>button {
    background-color: #e3fbf4 !important;
    color: #9e99f8 !important;
  }
  .dark-mode .acordeon>div>button {
    background-color: #0b2c21 !important;
    color: var(--text-dark) !important;
  }
  /* MENU */
   .menu>ul>li>a {

    color: var(--text) !important;
  }
 .menu>ul>li>a:hover {
    color: var(--text) !important;
  }

 .menu>ul>li>a>span {
    color: var(--text) !important;
  }
  .before\:bg-gray-100::before{
    background-color: #bcfeeb !important;
  }
  .menu>ul>li>a:hover:before{
    background-color: #bcfeeb64 !important;

  }
  .dark-mode .menu>ul>li>a:hover:before{
    background-color: #2286655c  !important;
  }
  .dark-mode .menu>ul>li>a {

    color: var(--text-dark) !important;
  }
  .dark-mode .menu>ul>li>a:hover {
    color: var(--text) !important;
  }
  .dark-mode .menu>ul>li>a>span {
    color: var(--text-dark) !important;
  }
  .dark-mode .before\:bg-gray-100::before{
    background-color: #228665 !important;
  }
  /* Estilos de la tarjeta */
  .card {
    cursor: grab !important;
    border-radius: 15px;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    max-height: 350px;
    margin: auto;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    color: var(--text-dark);
    background-image: linear-gradient(-180deg, var(--primary-gradient-start) 2%, var(--primary-gradient-end) 100%);
    transform: translateY(var(--default-translation)) scale(var(--default-scale));
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    user-select: none;
    pointer-events: none;
    will-change: transform, opacity;
    height: 100vw;
    position: absolute;
    width: 100%;  
    /* Estilo específico para elementos actuales */
    &.isCurrent {
        opacity: 1;
        z-index: 3; /* Hace que la carta activa esté sobre las demás */
        pointer-events: auto; /* Permite interacciones solo en la carta activa */
    }

  
    /* Estilo para animación */
    &.isAnimating {
      transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
  }
  .card:hover{
    cursor: grab !important;
  }
  .cards:hover{
    cursor: grab !important;
  }
  .dark-mode .card {

    background-image: linear-gradient(-180deg, #9474ee 2%, #5229c2 100%);
    
    /* Estilo específico para elementos actuales */
    &.isCurrent {
        opacity: 1;
        z-index: 3; /* Hace que la carta activa esté sobre las demás */
        pointer-events: auto; /* Permite interacciones solo en la carta activa */
    }
    
  
    /* Estilo para animación */
    &.isAnimating {
      transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
  }
  
  /* Estilo para el título de la tarjeta */
  .cardTitle {
    margin: 0 0 15px;
    font-size: var(--fs-h1); /* valor original de $fs-card-title */
    font-weight: var(--fw-bold);
    font-family: var(--title);
  }
  
  /* Estilo para el texto de la tarjeta */
  .cardText {
    margin: 0 0 15px;
    font-size: var(--fs-h2);
    text-align: center;
    font-weight: var(--fw-light);
  }
  
  /* Estilo para elementos adicionales de la tarjeta (en el caso de un pseudo-elemento) */
  .card::after {
    content: "";
    display: block;
    width: 21px;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 11px;
    left: 0;
    margin: auto;
    border-radius: 100px;
    background: rgba(var(--c-black), 0.3);
  }
  
  /* Estilos para las tarjetas en función de su índice */
 
  
  .cards {
    cursor: grab !important;
    position: relative;
    display: flex;
    justify-content: center;
    width: 25rem; /* ¿Es el ancho correcto? */
    /* left: calc((100vw - 30rem) / 2); Ajuste del contenedor, ¿funciona como esperas? */
    overflow: visible; /* Las tarjetas fuera del contenedor son visibles, ¿es esto lo que quieres? */
  }
  
  h1, h3{
    font-family: var(--title);
  }
  p{
    color: #9e99f8 !important;
  }
  .dark-mode p{
    color: #6e3bfc !important;
  }
@media screen and (max-width: 425px) {

  .cardTitle {

    font-size: 0.6rem !important; /* valor original de $fs-card-title */
    
  }
  
  /* Estilo para el texto de la tarjeta */
  .cardText {
    
    font-size: 0.8rem !important;

  }
  #app{
    flex-direction: column;
  }
  .cards {
    width: 13rem;
    height: 20rem;
  }
  .container {
    width: auto !important;
    height: 60vh !important;
}
h1{
  font-size: 1rem !important;
}
p{
  font-size: 0.875rem !important;
}
.grid {
  margin: 4rem !important;
}
.grid>div {
  width: 55vw !important;
}
.socials {
  margin: 3rem !important;
}
}
/* TABLET */
@media screen and (max-width: 768px) {

  .cardTitle {

    font-size: 0.8rem !important; /* valor original de $fs-card-title */
    
  }
  
  /* Estilo para el texto de la tarjeta */
  .cardText {
    
    font-size: 1rem !important;

  }
  #app{
    flex-direction: column;
  }
  .cards {
    width: 28rem;
    height: 20rem;
  }
  .container {
    width: auto !important;
    height: 60vh !important;
}
h1{
  font-size: 1.7rem !important;
}
p{
  font-size: 0.95rem !important;
}
.grid {
  margin: 4rem !important;
}
.grid>div {
  width: 55vw !important;
}
.socials {
  margin: 4rem ;
}
}